body {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    background-color: black;
    padding: 20px;
}

header {
    text-align: center;
    color: #d65a5a;
}

header h1 {
    font-size: 3.5em;
    font-weight: 700;
}

section {
    margin: 1px;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

table {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
}

td {
    padding: 15px;
    text-align: left;
}

.titulo {
    font-size: 1.8em;
    color: #d65a5a;
    font-weight: bold;
}

.descricao {
    font-size: 1.2em;
    color: #7a7a7a;
}

.leia-mais a {
    text-decoration: none;
    color: #d65a5a;
    font-weight: bold;
}

.leia-mais a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background-color: #f0f0f0;
}
